@import url(http://fonts.googleapis.com/css?family=Oxygen);

* {
    margin: 0;
}

html,
body {
    margin: 0px auto;
    font-size: 100%;
    font-family: 'Oxygen', sans-serif;
    color: white;
    text-align: left;
    background-image: url(../img/dsd_bkg_dk2.jpg);
    background-color: #000000; 
    background-position: center center;
}

h1 {
    font-size: 1em;
    color: white;
    width: 100%;
    text-align: left;
    text-indent: 5%;
    line-height: 1.50em;
    max-width: 350px;
    background:#b9b7a0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 1em;
    text-indent: 5%;
    color: white;
    text-align: left;
    line-height: 1.50em;
    max-width: 350px;
    background:#b9b7a0;
    -webkit-border-radius: 10px;
}

h3 {
    font-size: 1.15em;
    text-align: center;
    color: white;
}

h4 {
    font-size: .75em;
    color: white;
}

p {
    font-size: 0.85em;
    color: white;
    text-align: left;
    padding: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a img {
	border:none;
}

input, textarea, select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #9f9f9f;
}

/* CSS class mods */

.btn {
    padding: 5px;
    border-radius: 5px;
}

.header_hp {
    margin: 0px auto;
    width: 100%;
}

.header_hp_con {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 365px;
}

.header_img {
    width: 900px;
    height: 194px;
    margin: 0 auto;
    position: absolute;
    background-size: 100%;
    background-image: url(../img/ban_hp_4.png);
    background-repeat: no-repeat;
    float: left;
    z-index: 1;
}

.header {
    margin: 0px auto;
    width: 100%;
    height: 120px;
    background-color: #858158;
    border-bottom: 1px solid #e1cb9e;
}

.header_con {
    margin: 0 auto;
    max-width: 900px;
    height: 150px;
}

.main_con {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
}

.footer {
    margin: 15px auto;
    width: 100%; 
    max-width: 900px;
    height: 100px;
    border-top: white 1px solid;
    padding-top: 10px;
}

.footer_ele {
    width:100%;
    max-width: 250px;
    float:left;
    text-align:left;
    padding: 0 20px 0 0;
}

.footer_add {
    width:30%;
    float:right;
    font-size: .75em;
    text-align: right;
}

.ft_nav {
    font-size: .6em;
    list-style-type:none;
    text-decoration:none;
    padding-bottom:5px;
    color:white;
}

.nav a:hover {
    color: #b9b7a0;
}

.org {
    padding: 5px;
    display: inline;
}  

.org img{
    margin: 5px auto;
    max-width: 50%;
}



/* CSS id mods */

#aso_block {
	width: 40%;
    max-width: 175px;
	float: left;
    border-right: 1px solid white;
}

#aso_block img {
    padding-bottom: 10%;
}

#aso {
	margin: 5px auto;
    width: 100%;
	float: left;
    padding: 5px;
}

#baby_con {
    width: 100%;
    float: left;
    padding: 5px;
    
}

#baby_pic {
    width: 22%;
    padding: 5px;
    float: left;
}

#baby_pic img {
    width: 100%;
}

#bio_pic {
	padding: 15px;
    float: left;
}

#bio_bic {
	width: 30%;
	float: left;
    padding: 5px;
}

#bio_ter {
	width: 65%;
	float: left;
    padding: 10px;
}

#bio_about {
	width: 100%;
	float: left;
    padding: 10px;
}

#blog {
    margin: 0;
    width: 325px;
    height: 375px;
    padding: 0 0 0 15px;
    float: left;
    overflow: hidden;
}

#calendar {
	margin: 5px auto;
	margin-left: 45px;
	float: left;
}

#carousel {
    position: relative;
    margin: 0px auto;
    height: 100%;
    top: 0px;
	float: left;
    z-index: 0;
}

#con_smile {
    width: 95%;
    max-width: 750px;
    height: 525px;
    padding: 5px;
    background:#b9b7a0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#content {
	margin-left: 15px;
}

#copyright {
    margin: 5px;
    width: 100%;
    text-align: center;    
}

#dld_logo {
    width: 50%;
    float: left;
    padding: 0px;
}

#dld_num_hp {
    margin: 3px auto;
    position: relative;
    font-size: 1.75em;
    text-shadow: black 4px 4px 8px;
    text-align: right;
    color:white;  
    float: right; 
    padding-right: 25px;
    z-index: 2;
}

#dld_num {
    margin: 3px auto;
    font-size: 1.75em;
    text-shadow: black 4px 4px 8px;
    text-align: right;
    color:white;  
    float: right; 
    padding-right: 25px;
}

#form_con {
    height: 100%;
    float: left;
	background:#b9b7a0;
    text-align: left;
	padding: 10px;
    margin-bottom: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#form1 {
    padding: 10px;
}

#form_send {
    margin: 5px auto;
    width: 50px;
    float: left;
    padding-right: 5px;
}

#hp_greet {
    width: 65%;
    height: 425px;
    float: right;
    padding: 0 5px 0 5px;;
}

#info_bf {
    margin: 5px auto;
    width: 30%;
    padding-left: 15px;
    float: left;
}

#info_bf li {
    width: 90%;
    font-size: .75em;
}

#info_hp {
	margin: 5px auto;
    width: 60%;
	float: left;
    padding: 10px;
}

#link {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
}

#map {
    width: 100%;
    margin: 5px auto;
    float: none;
}

#nav_hp {
	margin: 0px auto;
	width: 100%;
    max-width: 900px;
	height: 50px;
    background-color: #858158;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#page_info {
    position: relative;
    width: 70%;
    float: left;
    padding-right: 5px;
}

#serv {
    width: 30%;
    max-width: 300px;
    height: 425px;
	float: left;
    padding: 0 5px 0 5px;
}

#serv li:first-child{
    padding-top: 10px;
}

#serv_desc{
    margin-bottom: 25px;
    width: 55%;
    float: right;
    margin-right: 15px;
    padding: 10px 20px 25px 20px;
    background:#b9b7a0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#serv_desc li {
    margin: 5px auto;
    font-size: .75em;

}

#servs a:hover {
	text-decoration: none;
	color: #0000ff;
    transition: all 100ms linear;

}

#sidebar {
    position: relative;
    width: 28%;
    float: right;
    right:1%;
}

#slideshow { 
    margin: 0px auto; 
    position:relative;
    width: 100%;
    max-width: 900px;
} 

#slideshow img {
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#slideshow > div { 
    position: absolute;
}
 
#soc_media {
    width: 500px;
    padding: 10px;
    float: left;
}

#soc_media img {
    padding: 0 0 0 5px;
}

#test_hp {
    height: 300px;
    float: left;
    margin-left: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background:#b9b7a0;
    
}

#test_hp #blr_testimonials .blr_body {
    width: 550px;
}

#test_lg {
    margin: 0 auto;
    width: 500px;
    height: 250px; 
    float: none;
}

.view-content {
    width: 100%;
}

#blr_testimonials {
	width: 90%;
    height: 0px;
	float: none;
    border: 0px;
}

#blr_testimonials .blr_body {
    width: 500px;
}

#text_box {
	position: relative;
	width: 275px;
	height: 50px;
	float: left;
	color: white; 
}



/* Responsive Navigation */

a,
a:hover {
	text-decoration:none;
}

.nav ul {
	list-style:none;
}

/* Navigation styling */

.nav {
    display:inline-block;
	font-size: 1.15em;
	font-weight:700;
    width: 100%;
}
.nav-list {
	margin: 0 auto;
}
.nav-item {
    text-shadow: black 4px 4px 8px;
    font: 1.5em;
    float:left;
	*display:inline;
    width: 20%;
}
.nav-item a {
	display:block;
	padding:10px 20px;
	color:#FFF;
}
.nav-item:first-child a {
	border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
	border-radius:0 5px 5px 0;
}
.nav-item a:hover {}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top: 2px;
	right:2px;
	background: #6b6847 url(../img/nav_ham.png) no-repeat center center;
	height:40px;
	width:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;  
	}
	
    .nav {
		width: 190px; 
        position:absolute;
        top: 60px;
        right: 5px;
        padding:10px 0 10px 0;
        z-index: 100;
	}
	.nav-list {
		display:none;
        padding-top: 20px;
    }
    
    .nav-item {
        text-align: center;
        font: 1em;
        width:100%;
        float:none;
    }
	.nav-item a {
		background: #6b6847;
		padding:15px;
	}
	.nav-item:first-child a {
		border-radius:10px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}

/* Responsive Navigation - end */
